*, html, body {
    margin: 0;
    padding: 0;
}

#main {
    width: 100%;
    border-top: 5px solid #eee;
}

/* top bar css */

#top {
    /* min-width: 780px; */
    max-width: 1000px;
    margin: 60px auto 0px;
    padding: 0 4%;
    overflow: hidden;
}

#logo {
    display: inline-block;
    width: 104px;
    height: 36px;
    background-color: #fff;
    color: #4ec;
    font-size: 40px;
    font-family:  "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    line-height: 36px;
    padding: 12px 0;
}

#menus {
    float: right;
    color: #0c4b0c;
    font-size: 16px;
}

#menus li {
    font-weight: 700;
    list-style: none;
    float: left;
}

#menus li a {
    display: block;
    text-decoration: none;
    color: #0c4b0c;
    padding: 20px 10px;
}

#menus li a:hover {
    cursor: pointer;
    color: #fff;
    background-color: #0c4b0c;
}

#lines {
    margin: 0 auto;
    max-width: 1040px;
    font-weight: bold;
    border: 3px solid #222;
}

/* bodies */

#bodies {
    max-width: 1040px;
    margin: 0 auto;
    height: 600px;
}

#content {
    width: 62%;
    /* background-color: #1e3; */
    float: left;
}

#index-list-top {
    margin-top: 20px;
}

.index-list {
    margin: 0 10px 10px;
    /* border: 1px solid #222; */
    border-bottom: 1px solid #222;
    height: 160px;
}

#siders {
    width: 38%;
    /* background-color: #69c; */
    overflow: hidden;
}


#middle-layer {
    width: 100%;
    height: 80px;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* footer css */

#footer {
    margin: 0 auto;
    width: 100%;
    position: fixed;
    height: 60px;
    line-height: 60px;
    background-color: #EEE;
    bottom: 0px;
}

#copyright {
    max-width: 1040px;
    position: fixed;
    right: 25%;
    bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

#copyright a{
    text-decoration: none;
    color: #222;
}